<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- AOS LIBRARY -->
    <link rel="stylesheet" href="/stylesheets/aos.css" />
    <script src="/stylesheets/aos.js"></script> 

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/c4079020c3.js" crossorigin="anonymous"></script>

    <title>Photo Walks Colombia</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg py-0" style="min-height: 56px; z-index: 100;">
        <!-- <div class="container"> -->
        <a class="navbar-brand" href="/">PHOTO WALKS COLOMBIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="min-height: 56px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/booking" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        BOOKINGS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/booking">All Walks</a>
                        <div class="dropdown-divider"></div>
                        <%for(let booking of bookingDropdown){%>
                            <a class="dropdown-item" href="/booking/<%=booking._id%>" ><%=booking.name%> || <em><%=booking.date.toDateString().slice(0, 10)%></em></a>
                        <%}%>
                        <a class="dropdown-item" href="#" ><strong>Personalized Walk</strong></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/booking/cart">Shopping Cart <span id="cart-badge" class="badge badge-danger" hidden></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        <!-- </div> -->
        </div>
    </nav>

    <script>
        const cart = JSON.parse(sessionStorage.getItem('cart'))
        let cartBadge = document.getElementById('cart-badge')
        cartBadge.innerHTML = cart.length
        if(cart){
            cartBadge.hidden = false
        }
    </script>

    <!-- FLASH MESSAGE SUPPORT -->
    