<%- include("../../partials/header") -%>

<h1 class="display-4 page-header text-center text-white py-3 mb-3"
data-aos="fade-zoom-in"
data-aos-duration="800"
>Shopping Cart <span id="header-badge" class="badge badge-danger"></span></h1>
<div id="no-bookings" class="container" hidden
data-aos="fade-zoom-in"
data-aos-duration="1200"
>
    <div class="alert alert-info" role="alert">
        You Currently have no bookings in your cart! &emsp;
    </div>
    <a class="btn btn-info" href="/booking">Go to bookings</a>
</div>
<div id="body-bottom"></div>


<script>
    //Cart header badge create
    let headerBadge = document.getElementById('header-badge')
    //No Bookings Div
    let noBoookings = document.getElementById('no-bookings')
    //Create Cart Item Cards
    let bodyBottom = document.getElementById('body-bottom')
    let paymentButton = document.getElementById('payment-button')

//EVERYTHING DEPENDS ON CART EXISTING
if(cart){
    // const cart = JSON.parse(sessionStorage.getItem('cart'))
    console.log(cart)
    //Iterate over cart array
    cart.forEach((item,i) => {
        //Create a div for each card
        let itemCard = document.createElement('div')
        itemCard.id = `card-${i}`
        //card content
        itemCard.innerHTML = `
<div class="card mb-3 mx-3" 
data-aos="fade-zoom-in"
data-aos-duration="1200"
data-aos-delay="150"
>
    <div class="card-header text-white"><h3><span class="badge badge-success">${i+1}</span> Booking Details</h3></div>
    <div class="row no-gutters">
        <!-- <div id="booking-image" class="col-lg-3"></div> -->
        <div class="col-lg-3">
            <img src="${item.image}" class="card-img" alt="Walk image">
        </div>
        <div class="col-lg-9">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="ml-3 card-title"><strong>${item.name}</strong></h3>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Date:</strong> ${new Date(Number(item.date)).toLocaleString('en-US',{dateStyle: 'long'})}
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Price per Spot:</strong> $${item.price.toLocaleString()}
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Your Spots:</strong> ${item.booked_spots}
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Total:</strong> $${item.price*item.booked_spots}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="ml-3 card-title"><strong>Alter Booking</strong></h3>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                After payment, booking details will be sent to your email.                             
                                <br>
                                <span class="text-muted">*Paid bookings will have a $10 USD cancellation fee per spot</span> 
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Spots Left:</strong> ${item.spots_left}
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Change Spots </strong>
                                <div class="row">
                                    <div class="col-6">
                                        <select name="spots" class="custom-select my-1 mr-sm-2 spots-dropdown" id="inlineFormCustomSelectPref" required>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <a href="/booking/cart">
                                            <button class="btn btn-warning text-white edit-button" >Change Booking</button>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        `
        //Insert created div after cart title
        document.body.insertBefore(itemCard, bodyBottom)
    });
    //Select create options and select
    let spotsDropdown = document.getElementsByClassName('spots-dropdown')
    //iterate over each cart item
    //Show or hide depending on sessionStorage
    headerBadge.innerHTML = cart.length
    cart.forEach((item,itemNumber)=>{
        for (let i = 0; i <= item.spots_left; i++) {
            // Create Option ELement
            let option = document.createElement('option')
            // create text node for option
            option.appendChild( document.createTextNode(i))
            option.value = i
            //Select dropdown using cart item number
            spotsDropdown[itemNumber].appendChild(option)
            if(item.booked_spots==i){
                option.selected = true
            }
        }
    });

    //Show a total in the bottom
    //Create variables
    let total = 0
    //Iterate over the array
    cart.forEach(item=>{
        total += (item.price*item.booked_spots)
    })
    //Create totals div
    let totalDiv = document.createElement('div')
    totalDiv.innerHTML = `
<div class="row mx-3"
data-aos="fade-zoom-in"
data-aos-duration="1200"
data-aos-delay="150"
>
    <div class="card mb-3 p-0 col-lg-6">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Shopping Cart Totals </strong></li>
                <li class="list-group-item"><strong>Items: </strong>${cart.length}</li>
                <li class="list-group-item"><strong>Total: </strong>USD $${total.toLocaleString()}</li>
            </ul>
            <a id="payment-button" href="" class="btn btn-info mt-3 ml-3" >Proceed to Payment</a>
        </div>
    </div>
</div>
    `
    //Insert into body
    document.body.insertBefore(totalDiv, bodyBottom);

    //Edit Booking throuhg button
    //Select Booking Buttons and Dropdowns
    editButton = document.getElementsByClassName('edit-button')
    spotsDropdown = document.getElementsByClassName('spots-dropdown')
    //iterate over buttons
    Array.prototype.forEach.call(editButton, (button,i)=>{
        //add event listener
        button.addEventListener('click',()=>{
            button.disabled = true
            //verify spots dropdown value
            let spots = spotsDropdown[i].value
            if(spots == 0){
                //remove item from cart
                cart.splice(i,1)
            }else{
                //change booked_spots to spots
                cart[i].booked_spots = spots
            }
            if(cart[0]){
                //Update session Storage
                sessionStorage.setItem('cart', JSON.stringify(cart))
            }else{
                //Remove if no items
                sessionStorage.removeItem('cart')
            }
        })
    })
}else{
    //If no cart
    noBoookings.hidden = false
}

</script>

<%- include("../../partials/footer") -%>