<%- include("../../partials/header") -%>

<h1 class="display-4 page-header text-center text-white py-3"
data-aos="fade-zoom-in"
data-aos-duration="800"
>Shopping Cart <span id="header-badge" class="badge badge-danger"></span></h1>
<div id="no-bookings" class="container" hidden
data-aos="fade-zoom-in"
data-aos-duration="1200"
>
    <div class="alert alert-info" role="alert">
        You Currently have no bookings in your cart! &emsp;
    </div>
    <a class="btn btn-info" href="/booking">Go to bookings</a>
</div>
<div id="body-bottom"></div>
<a id="payment-button" href="" class="btn btn-info mb-3 ml-3"

>Proceed to Payment</a>


<script>
    //Cart header badge create
    let headerBadge = document.getElementById('header-badge')
    headerBadge.innerHTML = cart.length
    //Create Cart Item Cards
    let bodyBottom = document.getElementById('body-bottom')
    let paymentButton = document.getElementById('payment-button')
    // const cart = JSON.parse(sessionStorage.getItem('cart'))
    console.log(cart)
    //Iterate over cart array
    cart.forEach((item,i) => {
        //Create a div for each card
        let itemCard = document.createElement('div')
        itemCard.id = `card-${i}`
        //card content
        itemCard.innerHTML = `
<div class="card mb-3 mx-3" 
data-aos="fade-zoom-in"
data-aos-duration="1200"
data-aos-delay="150"
>
    <div class="card-header text-white"><h3><strong>${i+1}</strong> Booking Details</h3></div>
    <div class="row no-gutters">
        <!-- <div id="booking-image" class="col-lg-3"></div> -->
        <div class="col-lg-3">
            <img src="${item.image}" class="card-img" alt="Walk image">
        </div>
        <div class="col-lg-9">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="ml-3 card-title"><strong>${item.name}</strong></h3>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Date:</strong> ${new Date(Number(item.date)).toLocaleString('en-US',{dateStyle: 'long'})}
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Price per Spot:</strong> $${item.price.toLocaleString()}
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Your Spots:</strong> ${item.booked_spots}
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Total:</strong> $${item.price*item.booked_spots}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="ml-3 card-title"><strong>Alter Booking</strong></h3>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                After payment, booking details will be sent to your email.                             
                                <br>
                                <span class="text-muted">*Paid bookings will have a $10 USD cancellation fee per spot</span> 
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Spots Left:</strong> ${item.spots_left}
                            </li>
                            <li class="list-group-item" style="background-color: transparent; border-color: rgba(255, 255, 255, 0.3);">
                                <strong>Change Spots </strong>
                                <div class="row">
                                    <div class="col-6">
                                        <select name="spots" class="custom-select my-1 mr-sm-2 spots-dropdown" id="inlineFormCustomSelectPref" required>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-warning text-white edit-button" href="/booking/cart">Change Booking</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        `
        //Insert created div after cart title
        document.body.insertBefore(itemCard, bodyBottom)
    });
    //Select create options and select
    let spotsDropdown = document.getElementsByClassName('spots-dropdown')
    //iterate over each cart item
    cart.forEach((item,itemNumber)=>{
        for (let i = 0; i <= item.spots_left; i++) {
            // Create Option ELement
            let option = document.createElement('option')
            // create text node for option
            option.appendChild( document.createTextNode(i))
            option.value = i
            //Select dropdown using cart item number
            spotsDropdown[itemNumber].appendChild(option)
            if(item.booked_spots==i){
                option.selected = true
            }
        }
    });

    //Edit Booking throuhg button
    // let editBooking = document.getElementById('edit-booking')
    // editBooking.addEventListener('click',()=>{
    //     if(spotsDropdown.value == 0){
    //         sessionStorage.removeItem('booking')
    //     }else{
    //         booking.booked_spots = spotsDropdown.value
    //         sessionStorage.setItem('booking', JSON.stringify(booking))
    //     }
    // });
    
</script>

<%- include("../../partials/footer") -%>