<%- include("../partials/header") -%>

   

<div class="container ">
    <h1 class="display-3 text-center">Create your Walk!</h1>

    <form action="/user/walk" method="POST">
        <div class="form-group">
            <label>Walk Name</label>
            <input name="walk[name]" type="text" class="form-control" placeholder="name" required>
        </div>
        <div class="form-group">
            <label>Image URL</label>
            <input name="walk[image]" type="text" class="form-control" placeholder="Image URL/Link" required>
        </div>
        <div class="form-group">
            <label>Short Description (First paragraph of description. Will show up on view: "All Walks" and "Detailed view")</label>
            <textarea name="walk[shortDescription]" type="text" class="form-control" placeholder="description" cols="30" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label>Walk Description (Continues short description, both will show on detailed view of each walk)</label>
            <textarea name="walk[description]" type="text" class="form-control" placeholder="description" cols="30" rows="10"
                required></textarea>
        </div>
        
        <button class="btn btn-lg btn-light">Submit</button>
      </form>
</div>



<%- include("../partials/footer") -%>