body{
    background-color:#FFFFF6 !important;
}

img{
    align-self: center;
}
.fill{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    min-height: 30rem !important;
}
.carousel-caption{
    top: 10%;
    color: #FFFFF6 !important;
    background-color: rgba(20, 20, 20, 0.2);
}
.landing-booking{
    height: 35rem; 
    background-size: cover; 
    background-position: center;
}
.navbar{
    background-color: #e5243f !important;
}
.dropdown-menu{
    background-color: #FFFFF6 !important;
}
.navbar a{
    color:#FFFFF6 !important;
}
.fa-bars{
    color:#FFFFF6 !important;
    font-size: 1.5rem;
}
.jumbotron{
    /* background-color: #f3ddc2 !important; */
    background-color: #f1e8d7 !important;
}
/* My Color Scheme */
/*  #2F5755 #54C6BE #f7b15c #f65c51 #e5243f* /