body{
    background-color:#fafde0 !important;
}

img{
    align-self: center;
}
.fill{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    min-height: 30rem !important;
}
.top-caption{
    bottom: auto !important;
    top: 10%;
    color: #FFFFF6 !important;
    background-color: rgba(20, 20, 20, 0.2);
}
.bottom-caption{
    bottom: auto !important;
    top: auto;
    color: #FFFFF6 !important;
    background-color: rgba(20, 20, 20, 0.2);
}
.landing-booking{
    /* make height dymanic */
    height: 45rem;
    background-size: cover; 
    background-position: center;
}
.navbar{
    background-color: #f65c51 !important;
}
.dropdown-menu{
    background-color: #f65c51 !important;
}
.dropdown-menu > a:hover {
    background-color: #e5243f !important;
    background-image: none !important;
}
.navbar a{
    color:#FFFFF6 !important;
}
.fa-bars{
    color:#FFFFF6 !important;
    font-size: 1.5rem;
}
.jumbotron{
    /* background-color: #f3ddc2 !important; */
    background-color: #fafde0 !important;
    /* height: 35rem; */
}
#landing-gallery{
    padding: 3rem;
    color: #FFFFF6;
    background-color: #f65c51;
    height: auto;
}
#landing-gallery > div > div{
    border: 3px solid red;
    height: auto;
    padding: 1rem;
    margin: 1rem;
}

/* My Color Scheme */
/*  #2F5755 #54C6BE #f7b15c #f65c51 #e5243f* /